@use '../helpers/mixins' as *;
@use '../helpers/variables' as *;

.clear-fix {
    clear: both;
}
.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    @media #{$minSmall} {
        width: 750px;
    }
    @media #{$minMedium} {
        width: 970px;
    }
    @media #{$minLarge} {
        width: 1170px;
    }
}

.text-center-xs {
    @media #{$maxMobile} {
        text-align: center;
    }
}